body {
    font-family: Arial, Sans-serif !important;
}

.header {
    position:absolute;
    z-index: 1;
    width: 100%;
}

div ul li .nav-link{
    font-size: 13px;
    color: rgba(0, 0, 0, .87) !important;
    text-decoration: none;
}

div ul li .navlink div {
    width: 40px;
    height: 40px;
}

div ul li .nav-link:hover {
    color: inherit;
    text-decoration: underline;
}

div ul li .hov {
    text-decoration: none;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0);
    border-radius: 100%;
    display: flex;
    justify-content: center;
}

div ul li .hov:hover {
    text-decoration: none;
    background: rgba(0, 0, 0, 0.08);
}


div ul li button {
    width: 100px;
}

div ul li button:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.center {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div form .bar {
    width: 40vw;
    height: 50px;
    border-radius: 50px;
    padding: 10px 5px;
    
    border: 1px solid rgba(0, 0, 0, .1);
}

div form .bar:hover {
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}

div form .bar input {
    flex-grow: 1;
    height: 90%;
    border: none;
}

div form .bar input[type="text"]:focus {
    margin: 0;
    border: 0;
    box-shadow: none;
}

div form .bar span:first-child {
    cursor: default;
}

div form .bar span {
    padding: 0 7px;
    cursor: pointer;
}

.buttonfam .searchbutton {
    color: rgba(0, 0, 0, .87);
    font-size: 14px;
}

.buttonfam .searchbutton:hover {
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 0 2px rgba(0, 0, 0, .1);
}

#searchbar:focus {
    outline: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    padding: 10px 0px;
    border-top:1px solid rgba(0, 0, 0, .1);
}
.footer ul {
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
}
.footer ul a{
    text-decoration: none;
    padding: 0 10px;
    color:rgba(0, 0, 0, .87);
    font-size: 14px;
}

.footer ul a:hover{
    text-decoration: underline;
}

.dropdown .dropdown-menu {
    width: 300px;
    padding: 10px;
}

.dropdown-menu li {
    display: inline-block;
}

.dropdown-item {
    font-size: 13px;
}

.dropdown-item span{
    position: relative;
    left: 25%;
}
.dropdown-divider {
    width: 280px;
}

@media (max-width: 768px) {

    div ul li button {
    width: 80px;
    }

    img {
        width: 50vw;
    }

    div form .bar {
    width: 90vw;
    }
}
@media (max-width: 576px) {
    .footer ul {
    list-style-type: none;
    padding: 0 5px;
    margin: 0;
    }
    .footer ul a{
    padding: 0 5px;
    font-size: 12px;
    }
}

